    PUSHI 0 // Initial stack value for global 'ola' (gp[0])
    PUSHI 0 // Initial stack value for global 'sum' (gp[1])
    START // Initialize Frame Pointer = Stack Pointer
    PUSHS "Ola, Mundo!"
    WRITES
    WRITELN
    STOP // End of program
